<nav class="navbar">
  <div>
    <ul>
      <li><a href="/">Generador de Tests</a></li>
      <li><a href="/preguntas/crear">Crear preguntas</a></li>
      <li><a href="/preguntas">Editar preguntas</a></li>
      <li><a href="/preguntas/temas">Gestionar temas</a></li>
    </ul>
  </div>
  <div>
    <% if (userId) { %>
      <a href="/quiz">Nuevo test</a>
      <a href="/historial">Historial</a>
      <a href="/logout">Cerrar sesión</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Registro</a>
    <% } %>
  </div>
</nav>