<nav class="navbar">
  <ul>
    <li><a href="/">Generador de Tests</a></li>
    <li><a href="/preguntas/crear">Crear preguntas</a></li>
    <li><a href="/preguntas">Editar preguntas</a></li>
  </ul>
</nav>