<nav class="navbar">
  <ul>
    <li><a href="/">Generador de Temas (inicio)</a></li>
    <li><a href="/temas/crear">Nuevo tema</a></li>
    <li><a href="/preguntas/crear">Crear preguntas</a></li>
    <li><a href="/preguntas">Editar preguntas</a></li>
  </ul>
</nav>