<%- include('partials/header', { title: 'Admin' }) %>

<h1>Preguntas</h1>

<form action="/preguntas/crear" method="POST" style="display:inline;">
  <button>Añadir pregunta</button>
</form>

<ul>
  <% preguntas.forEach(p => { %>
    <li>
      <strong><%= p.enunciado %></strong>
      <form action="/preguntas/eliminar/<%= p.id %>" method="POST" style="display:inline;">
        <button class="eliminar">Eliminar</button>
      </form>
      <form action="/preguntas/editar/<%= p.id %>" method="POST" style="display:inline;">
        <button>Editar</button>
      </form>
     
    </li>
  <% }) %>
</ul>
